@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --foreground-rgb: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: white;
  }
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background:white
}
html {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: var(--foreground-rgb);
  background-color:white;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.bg-info {
  border-radius: 0% 0% 48% 52% / 27% 30% 100% 98%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* CSS */
.promotion-card {
  position: relative;
  width: 300px; /* Adjust the width as needed */
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: linear-gradient(270deg, #012C51 0%, rgba(1, 44, 81, 0.85) 100%);

}
.bg-gradient{
  background: linear-gradient(95.76deg, #012C51 48.26%, rgba(217, 247, 190, 0.4) 139.49%);
  /* background: linear-gradient(270deg, #012C51 0%, rgba(1, 44, 81, 0.85) 100%) */
}

.get_gradient{
  background: linear-gradient(180deg, rgba(1, 44, 81, 0.9) 0%, #022A4E 28.47%);
}
.formation{
  background: radial-gradient(62.35% 365.54% at 102.63% 22.74%, #008000 0%, rgba(1, 73, 53, 0.98) 73.95%, rgba(1, 44, 81, 0.85) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;

}
:where(.css-dev-only-do-not-override-1xg9z9n).ant-tabs >.ant-tabs-nav, :where(.css-dev-only-do-not-override-1xg9z9n).ant-tabs >div>.ant-tabs-nav{
  border-bottom: 0px;
display: block!important;
}
.curved-container {
  background: linear-gradient(128.81deg, #E6F4FF 0%, #FFFFFF 100.04%);
  border-radius: 25px; 
  padding: 20px;
  position: relative; 
  /* margin: 50px; */
  box-shadow: 1px 20px 50px 0px #0000000D;
  z-index: 1;
}
.vibrate-1 {
	-webkit-animation: vibrate-1 0.3s linear infinite both;
	        animation: vibrate-1 0.3s linear infinite both;
}


 @-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
.wobble-hor-bottom {
	-webkit-animation: wobble-hor-bottom 0.8s linear infinite both;
	        animation: wobble-hor-bottom 0.8s linear infinite both;
}

 @-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}

.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}

 @-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

.curved-container::after {
  content: '';
  width: 100px; 
  height: 100px; 
  background-color: #fff; 
  position: absolute;
  bottom: 0; 
  right:0%;
  border-top-right-radius:20px ;
  border-top-left-radius:20px ;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);
  /* border-radius-top: 20px; */
  z-index: -1;
}
@media (max-width:550px) {
  .curved-container::after {
    content: '';
    width: 50px; 
    height: 50px; 
    
    z-index: -1;
  }
}
.nav-bg{
  background: linear-gradient(90deg, #012C51 0%, #1093FC 47.34%, #012C51 100%)
}
.redis{
  background-color: rgb(252 165 165);
  color: red;
}
.swiperimg{
  background: linear-gradient(99.72deg, #012C51 0%, #ABFDFF 89.64%, #8DFEFE 100%);
}
/* .curved-container::before {
  content: '';
  width: 20px; 
  height: 20px; 
  background-color: #fff; 
  position: absolute;
  bottom: 0; 
  right:calc(100% - 100px);
  border-top-right-radius:20px ;
  border-top-left-radius:20px ;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
} */



@media (min-width: 1024px) { /* Adjust the min-width as needed for your 'large' breakpoint */
  .center-max-width {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
  }

  .content-container {
    max-width: 1440px; /* Maximum width of the content */
    width: 100%; /* Make it responsive */
    margin: auto; /* Center the container horizontally */
  }
}
